<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link th:href="@{style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{index.js}" defer type="text/javascript"></script>
</head>
<body>
    <div class="toggle-container">
        <input type="checkbox" id="toggle">
        <label for="toggle" id="label">Change to Dark Mode</label>
    </div>
    <h1>
        People in list:
    </h1>
    <table>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        <tr th:each="person : ${all}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
        </tr>
    </table>
</body>
</html>