@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container {
    text-align: center;
}

h1, h2 {
    color: rebeccapurple;
}

.btn {
    background-color: rebeccapurple; /* Std bootstrap prim btn color: #007BFF, hover: #0069D9 */
    border: none;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: purple;
    outline: 0;
}

.form-signin:last-child, .form-control:last-child {
    border-radius: .25rem !important; /* Fixes some spring  */
}

.form-signin:focus, .form-control:focus {
    border-color: rebeccapurple;
}